body{
    margin:0;
    font-family:'Orbitron', sans-serif;
    background:#05070d;
    color:white;
}

.container{
    padding:15px;
}

h1{
    text-align:center;
    color:#00e5ff;
}

.card{
    background:#0a0f1c;
    padding:15px;
    border-radius:15px;
    margin-bottom:10px;
    border:1px solid rgba(0,255,255,0.1);
}

input, select{
    width:100%;
    padding:10px;
    margin:5px 0;
    border-radius:10px;
    background:#111;
    color:#00ff88;
    border:none;
}

button{
    width:100%;
    padding:12px;
    background:linear-gradient(45deg,#00e5ff,#00ff88);
    border:none;
    border-radius:10px;
    font-weight:bold;
}

.robot{
    text-align:center;
    font-size:40px;
    animation:float 2s infinite;
}

@keyframes float{
    50%{transform:translateY(-10px)}
}

.counter{
    text-align:center;
    color:#00ff88;
    font-size:18px;
}

.imagenMeta{
    width:100%;
    border-radius:10px;
    margin:10px 0;
}

canvas{
    background:#000;
    border-radius:10px;
}
